@model _2014102360_ENT.Ensambladora

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ensambladora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Ensambladora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Ensambladora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCarro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnsambladoraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
