@model _2014102360_ENT.Cinturon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cinturon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumSerieCinturon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumSerieCinturon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Metraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metraje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CinturonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
